@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --dark-color: #17141d;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-color);
  color: #f1f1f1;
  font-family: 'Roboto';
}

.card-list {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
}
.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
  background: var(--dark-color);
  border-radius: 10px;
  border-radius: 50px;
background: #000;
box-shadow: inset 2px 2px 2px #bebebe,
            inset -2px -2px 2px #000;
  
}
.card-list::-webkit-scrollbar-track {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;

  border-radius: 16px;
  background: var(--dark-color);
  box-shadow: -1rem 0 3rem #000;
}
